
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
/* 헤더 로고 폰트 */
@import url('https://fonts.googleapis.com/css?family=Gugi');
/* 한글 폰트*/
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

/*************************
*******Home Page******
**************************/

html {
    height: 100%;
}

a.login-form {
    color: #cb5b35;
}

a.login-form:hover {
    color: red;
}

a:hover {
    outline: none;
    text-decoration: none;
    color: #7bbfa8;
}

a:focus {
    outline: none;
    outline-offset: 0;
}

a {
    font-family: 'Lato', 'Spoqa Han Sans', sans-serif;
    color: #000;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

ul {
    list-style: none;
}

table {
    width: 100%;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Lato', 'Spoqa Han Sans', sans-serif;
    font-weight: 300;
}

hr {
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    color: #3c3c3c;
    font-size: 25px;
}
.category-div{
    margin-bottom: 10px;

}

.bookmark-category {
    font-family: 'Lato', 'Spoqa Han Sans';
    font-size: 25px;
    font-weight: 500;
}

.category-items {
    padding-left: 10px;
    padding-right: 10px;
}

.category-text {
    margin-left: 10px;
    margin-right:  15px;
    font-size: 15px;
    font-family: 'Lato', 'Spoqa Han Sans', sans-serif;
}

.main-admin-category {
    margin-top: 25px;
    font-family: 'Lato','Spoqa Han Sans', sans-serif;
    overflow: hidden;
}

.hr-clear {
  /* margin-top: 15px; */
  margin-bottom: 5px;
  border: 0px;
  height: 2px;
  background: #ccc;
  clear: both;
}

/* 카테고리 영역 */
.category {
    font-family: 'Lato', 'Spoqa Han Sans', sans-serif;
    height: 30px;
    width: 106px;
    margin-bottom: 10px;
    margin-right: 15px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    /* background-color: #7bbfa8; */
    border : 1px solid #0000005c;
    color: #ffffff;
    float: left;
}
.category-title {
	font-family: 'Lato', 'Spoqa Han Sans', sans-serif;
	font-weight: 900;
}
.category:hover {
    border : 2px solid #000;
    color: #000;
    box-shadow: 0px 0px 20px 1px;
}

.reddiv {
	border : 2px solid #000;
	background-color: #ff8700;
	color: #000;
	box-shadow: 0px 0px 20px 1px;
}


.bookmark-title {
   font-family: 'Lato', 'Spoqa Han Sans';
   margin-right: 30px;
   padding-top: 5px;
   padding-bottom: 5px;
   font-size: 30px;
   float: left;
   font-weight: 500;
}

.input-group {
    padding-top: 10px;
}

.search-input {
   font-family: 'Lato', 'Spoqa Han Sans';
   width: 200px;
   box-sizing: border-box;
   border: 1px solid #ccc;
   border-radius: 4px;
   font-size: 16px;
   background-color: white;
   background-image: url('../../icon/search-icon.png');
   background-size: 25px;
   background-position: 5px 5px;
   background-repeat: no-repeat;
   padding: 5px 20px 5px 30px;
   -webkit-transition: width 0.5s ease-in-out;
   transition: width 0.5s ease-in-out;
   float: left;
}

.search-input:focus {
   width: 100%;
}

.overflow {
    overflow: hidden;
}

.uppercase {
    text-transform: uppercase;
}

.btn-common {
    font-size: 14px;
    color: #0099ae;
    border: 2px solid #0099ae;
    font-family: 'Lato','Spoqa Han Sans', sans-serif;
    font-weight: 300;
    padding: 10px 25px;
}

.btn-common:hover{
    color: #fff;
    background-color: #0099ae;
}

.animate-in .slide-text {
    -webkit-animation: fadeInLeftBig 700ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 200ms both;
    animation: fadeInLeftBig 700ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 200ms both;
}

.animate-in .slider-hill {
    -webkit-animation: bounceInDown 1000ms ease-in-out 200ms both;
    animation: bounceInDown 1000ms ease-in-out 200ms both;
}

#action .col-sm-5 {
    position: absolute;
    top: 0;
    height: 100%;
    right: 0;
}

#home-slider {
    background: url(../../images/home/slider-bg.png) 0 100% repeat-x;
    position: relative;
}

#home-slider .main-slider {
    position: relative;
    height: 450px;
}

#home-slider .slide-text {
    position: absolute;
    top: 50px;
    left: 0;
    width: 500px;
    text-align: right;
    font-family: 'Lato', 'Spoqa Han Sans';
    font-size: 25px;
    font-weight: 500;
    margin-top: 100px;
    margin-bottom: 25px;
    z-index: 1;
}

#home-slider .slide-text .introduce-text{
    font-family: 'Lato', 'Spoqa Han Sans';
    text-align: left;
    padding-left: 20px;
}
#home-slider .slider-hill {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}

#home-slider .btn-common {
    margin-top: 20px;
    font-weight: 700;
}

#home-slider .preloader {
    position: absolute;
    left: 0;
    top: 0;
    bottom: -30px;
    right: 0;
    background: #fafafa;
    text-align: center;
}

#home-slider .preloader > i {
    font-size: 48px;
    height: 48px;
    line-height: 48px;
    color: #00aeef;
    position: absolute;
    left: 50%;
    margin-left: -24px;
    top: 50%;
    margin-top: -24px;
}

.ul-table {
	min-height: 550px !important;
}

/*********************************
****** Floating BoX CSS START ******
***********************************/
#floatMenu {
  padding-right: 30px;
  position: absolute;
  width: 100%;
  height: 800px;
  color: #000;
}

#layout {
  float: left;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #575b5f;
  border-radius: 10px 10px 0px 0px;
  text-align: center;
}

#explain {
  float: left;
  width: 40%;
  height: 70%;
  background-color: #6999E8;
  color: #4CFF69;
}

#comment {
  float: left;
  width: 100%;
  height: 30%;
  background-color: #F8FAFF; 
  color: #353866;
  border-radius: 0px 0px 10px 10px;
}

.preview_img {
  width: 40px;
  margin-top: -10px;
}

#preview_title{
    cursor: default;
    height: 31px;
    text-align: left;
    margin-bottom: 5px;
    border-bottom: 3px solid;
}

#preview_title color4 {
    border-color: #3a9ad9;
}

#preview_content {
    height: 60%;
    border: 2px solid #575b5f;
    box-shadow : 0px 0px 20px 5px #E0E3DA;
    border-radius: 5px;
}

/*********************************
****** Floating BoX CSS END ******
***********************************/
